<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.happyhour.scoreboard.mapper.UsermatchMapper">
    <sql id="tableName">
        UserMatch
    </sql>

    <sql id="baseColumn">
        id,userId,matchId,role,score
    </sql>

    <resultMap id="baseResultMap" type="org.happyhour.scoreboard.model.Usermatch">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="matchId" property="matchId" jdbcType="INTEGER"/>
        <result column="role" property="role" jdbcType="INTEGER"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertUsermatch">
        INSERT INTO UserMatch(userId,matchId,role,score) VALUES(#{userId},#{matchId},#{role},#{score})
    </insert>

    <select id="selectUsermatchByUserId" resultMap="baseResultMap">
        SELECT * FROM UserMatch
        WHERE userId = #{userId};
    </select>

    <select id="selectUsermatchByMatchId" resultMap="baseResultMap">
        SELECT * FROM UserMatch
        WHERE matchId = #{matchId};
    </select>

    <select id="selectUsermatchByUserIdAndMatchId" resultMap="baseResultMap">
        SELECT * FROM UserMatch
        WHERE userId = #{userId} AND matchId = #{matchId};
    </select>

</mapper>